<section class="order about">
  <div class="container">
    <div class="">
      <div class="order-text-title double-title">
        <span>Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur beatae culpa cum debitis
        distinctio doloribus enim eos est eveniet facere illo, inventore ipsam, iste itaque iusto modi natus nesciunt
        nisi obcaecati officiis omnis ratione reiciendis rem reprehenderit sit sunt suscipit vero voluptas voluptatum!
        Ab blanditiis eius est minus veritatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur beatae culpa cum debitis
        distinctio doloribus enim eos est eveniet facere illo, inventore ipsam, iste itaque iusto modi natus nesciunt
        nisi obcaecati officiis omnis ratione reiciendis rem reprehenderit sit sunt suscipit vero voluptas voluptatum!
        Ab blanditiis eius est minus veritatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur beatae culpa cum debitis
        distinctio doloribus enim eos est eveniet facere illo, inventore ipsam, iste itaque iusto modi natus nesciunt
        nisi obcaecati officiis omnis ratione reiciendis rem reprehenderit sit sunt suscipit vero voluptas voluptatum!
        Ab blanditiis eius est minus veritatis.
      </div>
    </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="pizza">
      <img src="assets/images/pizza_big.png" alt="pizza1">
    </div>
  </div>
</section>

<app-popup data="About component"></app-popup>
