<section class="products">
  <div class="container">
    <h2 class="products-title">Описание пиццы 2</h2>
    <div class="product-item">

      <div class="product-image" *ngIf="product.image">
        <img src="{{ product.image }}">
      </div>

      <custom-title [title]="product.title | uppercase">
      </custom-title>

      <div class="product-text">{{ product.description | wordUpper: ['сыр', 'томат', 'сос']}}</div>
      <div class="product-action" #elem>
        <a class="btn" routerLink="/order" [queryParams]="{product: product.title}">В корзину</a>
      </div>
    </div>
    <!--(click)="addToCart(product-card, orderElement)"-->


  </div>
</section>
